<div class="hidden lg:block relative text-current w-4 h-4 text-[#6f7287] ml-1">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path  d="M19 9l-7 7-7-7" />
  </svg>
</div>
