<% set_content_for :label do %>
  Help
<% end %>
<% set_content_for :list do %>
  <li><%= link_to 'Find your tickets', not_implemented_path %></li>
  <li><%= link_to 'Contact an event organizer', not_implemented_path %></li>
  <li><%= link_to 'Visit the help center', not_implemented_path  %></li>
<% end %>
<% set_content_for :chevron do %>
  <%= inline_svg_tag 'svg/chevron', class: 'h-5 w-4 mt-1' %>
<% end %>
