<nav class="flex justify-between items-center h-[59px] border-b border-b-[#eeedf2] sticky top-0 bg-white z-50">
  <%= link_to root_path, 'aria-label': 'Home' do %>
    <%= inline_svg_tag 'svg/eventbrite_logo.svg', class:'h-[20px] px-6 text-cur', style: 'fill: #f05537' %>
  <% end %>
  <div class="flex items-center h-full">
    <div class="md:hidden bg-[#f8f7fa] h-10 w-10 flex items-center justify-center rounded-full"><%= render 'events/side_bar_dropdown' %></div>
    <div class="h-full ">
      <%= render partial: 'navbar/drop_down_event_user', layout: 'navbar/dropdown_layout', locals: {is_event_view: true} %>
    </div>
  </nav>
