<div class="flex flex-col w-full px-10 py-7">
  <span class="font-bold text-2xl">Hand-picked</span>
  <div class="flex flex-row justify-between items-center">
    <span class="font-bold text-[28px] leading-9 text-[#d1410c]">Collections</span>
    <div class="flex flex-row text-black">
      <div class="p-4 mr-2 text-[#a9a8b3]">
        <%= inline_svg_tag 'svg/arrow_right', class:'h-6 w-5 rotate-180', stroke: 'currentColor' %>
      </div>
      <div class="p-4 text-[#39364f]">
        <%= inline_svg_tag 'svg/arrow_right', class:'h-6 w-5', stroke: 'currentColor' %>
      </div>
    </div>
  </div>
  <span class="font-normal text-sm text-[#6f7287]">
    Discover more of the best in food, music, wellness, and more with our curated event collections
  </span>
  <div class="flex flex-row overflow-x-scroll mt-2">
    <% 5.times do %>
      <%= render 'nonfunctional/collection_card' %>
    <% end %>
  </div>
</div>
