<div class="self-start px-4 pt-2 flex max-w-[100%] overflow-auto">
  <div class="flex flex-row space-x-4 text-gray-500 font-semibold text-sm items-center min-w-max">
    <div class="py-3 border-b-2 text-blue-600 hover:text-black border-current"><span>All</span></div>
    <div class="relative py-3 border-transparent border-b-2 text-current hover:text-black hover:border-b-2 hover:border-current">
      <div class="pr-7"><span>For you</span></div>
      <span class="bg-green-700 text-white text-xs leading-5 rounded-[10px] px-2 absolute top-[2px] -right-3">New</span></div>
    <div class="py-3 border-transparent border-b-2 text-current hover:text-black hover:border-b-2 hover:border-current"><span>Online</span></div>
    <div class="py-3 border-transparent border-b-2 text-current hover:text-black hover:border-b-2 hover:border-current"><span>Today</span></div>
    <div class="py-3 border-transparent border-b-2 text-current hover:text-black hover:border-b-2 hover:border-current"><span>This Weekend</span></div>
    <div class="py-3 border-transparent border-b-2 text-current hover:text-black hover:border-b-2 hover:border-current"><span>Free</span></div>
    <div class="py-3 border-transparent border-b-2 text-current hover:text-black hover:border-b-2 hover:border-current"><span>Music</span></div>
    <div class="py-3 border-transparent border-b-2 text-current hover:text-black hover:border-b-2 hover:border-current"><span>Food & Drink</span></div>
    <div class="py-3 border-transparent border-b-2 text-current hover:text-black hover:border-b-2 hover:border-current"><span>Charity & Causes</span></div>
  </div>
</div>
