<div class="flex flex-col bg-[#ecdce6] m-4">
  <div class="flex flex-col flex-grow px-6 pt-6">
    <span class="text-xl font-semibold pb-1">Tell us what you love</span>
    <span class="text-[13px] font-normal pb-4">We'll find event recommendations just for you</span>
    <div class="w-fit rounded-[4px] bg-[#d1410c] px-8 py-[10px] text-[13px] leading-6 font-semibold text-white">Get started</div>
  </div>
  <%= image_tag "https://cdn.evbstatic.com/s3-build/perm_001/ad8d44/django/images/onboarding/desktop_entry_2.jpg", alt: 'Recommendations placeholder image' %>
</div>
