<div class="flex flex-row items-center self-start px-4 pt-2 flex-wrap">
  <span class="font-extrabold text-3xl leading-10 text-gray-800">Popular in</span>
  <div class="flex flex-row justify-center items-center">
    <div class="w-12 h-12 text-blue-600">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-8 -8 40 40" stroke="currentColor" stroke-width="3">
        <title>Downwards Chevron</title>
        <path  d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <div class="border-b-2 border-b-gray-300">
      <span class="bg-transparent border-none text-blue-600 font-black text-3xl leading-10 pl-[6px] py-3">Four Corners</span>
    </div>
  </div>
</div>
