<div class="flex flex-col w-full p-8 relative">
  <div class="absolute right-0 top-0 m-6">
    <%= inline_svg_tag 'svg/cross.svg', class:"h-6 w-6 absolute -top-2 -right-2 cursor-pointer text-[#39364f]" %>
  </div>
  <span class="font-bold text-2xl">Let's make it personal</span>
  <span class="font-thin text-sm text-gray-600 mt-1 pb-8">Select your interests to get event suggestions based on what you love</span>
  <div class="flex flex-col overflow-x-scroll pb-4">
    <div class="flex flex-row">
      <% 10.times do %>
        <%= render partial: 'tag', locals: { tag_text: ['Comedy', 'Food', 'Education', 'Pop', 'Startups & Small Business'].sample } %>
      <% end %>
    </div>
    <div class="flex flex-row">
      <% 10.times do %>
        <%= render partial: 'tag', locals: { tag_text: ['Comedy', 'Food', 'Education', 'Pop', 'Startups & Small Business'].sample } %>
      <% end %>
    </div>
  </div>
  <span class="text-blue-600 text-sm font-normal pt-2 hover:decoration-current">View all interests</span>
</div>
