<div class="w-full flex items-center justify-center mt-2">
  <div class="border-2 border-[#a9a8b3] hover:border-gray-600 hover:bg-gray-200 w-[33%] text-[#39364f] rounded flex items-center justify-center">
    <span class="py-2 text-sm font-semibold">See more</span>
  </div>
</div>
