<div class="bg-gray-100 h-1 w-full flex">
  <div class="" id="passwordStrengthBar"></div>
</div>
<span class="pt-2 font-normal text-[13px]" id="passwordStrengthResponse">Your password must be at least 8 characters</span>
<script>
  let pass = document.getElementById('user_password')
  let passBar = document.getElementById('passwordStrengthBar')
  let passResponse = document.getElementById('passwordStrengthResponse')
  pass.addEventListener('input', () => {
    let passVal = pass.value
    let passLength = passVal.length
    let passStrength = 0
    if (passLength > 7) {
      passStrength++
    }
    if (passVal.match(/[a-z]/)) {
      passStrength++
    }
    if (passVal.match(/[A-Z]/)) {
      passStrength++
    }
    if (passVal.match(/[0-9]/)) {
      passStrength++
    }
    if (passVal.match(/[^a-zA-Z0-9]/)) {
      passStrength++
    }
    let passStrengthPercent = passStrength / 4 * 100
    passBar.style.width = passStrengthPercent + '%'
    passBar.classList.remove('bg-green-500', 'bg-red-500', 'bg-yellow-500')
    if (passStrengthPercent > 66) {
      passBar.classList.add('bg-green-500')
      passResponse.innerText = 'Password strength: Very Strong'
    } else if (passStrengthPercent > 33) {
      passBar.classList.add('bg-yellow-500')
      passResponse.innerText = 'Password strength: Strong'
    } else {
      passBar.classList.add('bg-red-500')
      passResponse.innerText = 'Password strength: Weak'
    }

  })
</script>
