<div class="lg:hidden flex bg-white shadow-md items-center">
  <div class="flex" x-data="{open: false}">
    <button @click="open = ! open" class="flex justify-center items-center p-2 my-2 ml-2" aria-label="Account Menu">
      <%= inline_svg_tag 'svg/hamburger_menu.svg', class: 'w-6 h-6' %>
    </button>
    <div class="flex absolute h-full z-50" x-show="open" x-cloak @click.outside="open = false">
      <div class="w-[288px]"><%= render 'users/sidebar' %></div>
    </div>
    <span @click="open = false" x-show="open" x-cloak class="fixed bg-[#9b92a8] opacity-40 top-0 bottom-0 left-0 right-0 z-10"></span>
  </div>
  <h2 class="text-2xl my-2 ml-1 font-normal"><%= current_page %></span>
</div>
