<div class="flex z-20 min-w-[9999px] overflow-hidden min-h-[3500px]">
  <div class="w-full max-w-[288px]"><%= render 'users/sidebar' %></div>
  <span class="w-full h-[3500px] active:hidden  bg-[#9b92a8] opacity-25"></span>
</div>
