<h2 class="mt-[10px] font-bold text-[1.6rem]">Profile Photo</h2>
<div class="flex py-3">
  <div class="flex rounded-md border-[1px] border-[#dbdae3] py-[10px] px-[5px] max-w-[250px]">
    <div class="flex flex-col justify-center items-center text-[#3659e3] border-2 border-[#dbdae3] border-dashed min-h-[190px] hover:border-current rounded">
      <div class=" pb-5 pt-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
      </div>
      <span class="text-2xl font-normal px-[5px] text-center leading-5">ADD A PROFILE IMAGE</span>
      <span class="text-[13px] font-normal text-[#6f7287] mt-[5px] text-center leading-4">
        Drag and drop or choose a file to upload
      </span>
    </div>
  </div>
</div>
