<h2 class="mt-[10px] font-bold text-[1.6rem]">Profile Photo</h2>
<div class="flex py-3">
  <div class="flex rounded-md border-[1px] border-[#dbdae3] py-[10px] px-[5px] max-w-[250px]">
    <div class="flex flex-col justify-center items-center text-[#3659e3] border-2 border-[#dbdae3] border-dashed min-h-[190px] hover:border-current rounded">
      <div class=" pb-5 pt-3">
        <%= inline_svg_tag 'svg/user_placeholder.svg', class: 'w-9 h-9' %>
      </div>
      <span class="text-2xl font-normal px-[5px] text-center leading-5">ADD A PROFILE IMAGE</span>
      <span class="text-[13px] font-normal text-[#6f7287] mt-[5px] text-center leading-4">
        Drag and drop or choose a file to upload
      </span>
    </div>
  </div>
</div>
