<div class="flex flex-row justify-between my-2 items-center">
  <%= render 'users/short_user', resource: resource.user %>
  <%= render 'user_event_permissions/revoke_perm_button', resource: resource  %>
</div>
