<div class="flex flex-row justify-between items-center gap-2">
  <%= render 'users/short_user', resource: resource.user %>
  <%= render 'user_event_permissions/revoke_perm_button', resource: resource  %>
</div>
