<div class=" border-[1px] border-[#dbdae3] flex font-normal min-h-[44px] rounded-sm justify-center items-center mb-3 cursor-pointer">
  <span class="font-semibold text-sm">Email me a login link</span>
</div>
