<%= link_to resource do %>
  <div class="flex flex-row items-center">
    <div class="mr-2"><%= image_tag 'profile_picture_placeholder.png', size: '40x40', style: 'border-radius: 9999px', alt: 'User profile picture placeholder' %></div>
    <div class="flex flex-col text-sm">
      <div class="font-semibold clamp-one"><%= resource.name.titleize %></div>
      <div class="text-xs clamp-one"><%= resource.email %></div>
    </div>
  </div>
<% end %>
