<div>
  <h1 class="font-bold text-4xl">Users#show</h1>
  <div class="">
    <div class=""><%= @user.name %></div>
    <div class="">Events:</div>
    <div class=""><%= render @user.events_created %></div>
  </div>
  <div class="">Attending Events:</div>
  <% @user.events_invited.each do |event| %>
    <%= render event %>
    <%= render 'attended_events/delete_button', resource: event %>
  <% end %>
</div>
