<div class="flex flex-row py-4 w-full">
  <div class="flex flex-col w-full mr-8">
    <div class="">Attendees:</div>
    <div class="flex flex-col py-2">
      <% event.accepted_invites.each do |attendee| %>
        <%= render partial: 'users/short_user', locals: {user: attendee, show_revoke_button: current_user&.id == @event.creator.id} %>
      <% end %>
    </div>
  </div>
  <div class="flex flex-col w-full ml-8">
    <div class="">Pending Invites:</div>
    <div class="flex flex-col py-2">
      <% event.pending_invites.each do |pending| %>
        <%= render partial: 'users/short_user', locals: {user: pending, show_revoke_button: current_user&.id == @event.creator.id} %>
      <% end %>
    </div>
  </div>
</div>
