<div class="mt-5 pb-12 mb-16 pt-5 flex flex-col lg:grid grid-cols-12 px-4 lg:px-0">
  <div class="col-start-2 hidden lg:block"><%= inline_svg_tag 'svg/text.svg', class:'h-12 w-12 text-[#dbdae3]' %></div>
  <div class="flex flex-col col-start-3 col-span-8">
    <h1 class="text-3xl font-bold">Event Privacy Settings</h1>
    <p class="font-normal text-sm break-normal leading-6">Set up who can and cannot view and access your event.</p>
    <div class="flex flex-col w-full mt-5">
      <div class="flex flex-col mb-6">
        <h3 class="py-1 text-base font-medium">Event Options</h3>
        <%= render partial: 'events/generic_radio_group', locals: { resource:, form:, group_value: :event_privacy,
          radio_buttons: [{val: 'public', desc: 'Any Eventbrite memeber will be able to attend your event.'},
                          {val: 'private', desc: 'Only users invited to the event will be able to attend your event.'}]
        } %>
      </div>
      <div class="flex flex-col mb-6">
        <h3 class="py-1 text-base font-medium">Event Display Options</h3>
        <%= render partial: 'events/generic_radio_group', locals: { resource:, form:, group_value: :display_privacy,
          radio_buttons: [{val: 'public', desc: 'Any user will be able to see your event.'},
                          {val: 'protected', desc: 'Only Eventbrite members will be able to see your event.'},
                          {val: 'private', desc: 'Only users invited to the event will be able to see your event.'}]
        } %>
      </div>
      <div class="flex flex-col mb-6">
        <h3 class="py-1 text-base font-medium">Event Attendee Display Options</h3>
        <%= render partial: 'events/generic_radio_group', locals: { resource:, form:, group_value: :attendee_privacy,
          radio_buttons: [{val: 'public', desc: 'Any user will be able to see the other users attending your event.'},
                          {val: 'protected', desc: 'Only Eventbrite members will be able to see the other users attending your event.'},
                          {val: 'private', desc: 'Only users invited to the event will be able to see the other users attending your event.'}]
        } %>
        <%# render partial: 'radio_buttons_attendee_privacy', layout: 'layouts/radio_button_layout', locals: {form:, resource:} %>
      </div>
    </div>
  </div>
</div>
