<div class="flex flex-col px-5 pt-16 pb-16 max-w-5xl">
  <div class="flex items-center justify-between">
    <span class="font-bold text-2xl mb-8">Other events you may like</span>
    <div class="flex flex-row text-black">
      <div class="p-3 mr-2 text-[#39364f] bg-[#a9a8b3]">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 " fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
      </div>
      <div class="p-3 text-white bg-[#39364f]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="h-4 w-4" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-5">
    <%= render partial: Event.includes(:creator).limit(3), locals: {is_event_view: true} %>
  </div>
</div>
