<div class="flex flex-col px-5 pt-16 pb-16 max-w-5xl">
  <div class="flex items-center justify-between">
    <span class="font-bold text-2xl mb-8">Other events you may like</span>
    <div class="flex flex-row text-black">
      <div class="p-3 mr-2 text-[#39364f] bg-[#a9a8b3]">
        <%= inline_svg_tag 'svg/arrow_right', class:'w-4 h-4 rotate-180' %>
      </div>
      <div class="p-3 text-white bg-[#39364f]">
        <%= inline_svg_tag 'svg/arrow_right', class:'w-4 h-4' %>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-5">
    <%= render partial: Event.includes(:creator).limit(3), locals: {is_event_view: true} %>
  </div>
</div>
