<div class="w-full flex flex-row font-bold justify-evenly mt-24 border-t-4 pt-8">
  <div class="flex flex-col text-center">
    <div class="">More Info</div>
    <div class="flex flex-col font-normal">
      <div class="">Placeholder</div>
      <div class="">Placeholder</div>
      <div class="">Placeholder</div>
    </div>
  </div>
  <div class="flex flex-col text-center">
    <div class="">Contact</div>
    <div class="flex flex-col font-normal">
      <div class="">Placeholder</div>
      <div class="">Placeholder</div>
      <div class="">Placeholder</div>
    </div>
  </div>
  <div class="flex flex-col text-center">
    <div class="">Opportunities</div>
    <div class="flex flex-col font-normal">
      <div class="">Placeholder</div>
      <div class="">Placeholder</div>
      <div class="">Placeholder</div>
    </div>
  </div>
</div>
