<div>
  <%= form.radio_button group_value, value, class: 'peer sr-only', 'x-bind': "radio_selector('#{value}')" %>
  <%= form.label group_value, value.titleize, value: value,
        class: 'flex justify-center rounded border-[1px] border-[#dbdae3] peer-checked:text-[#3659e3] peer-checked:bg-[#eaeefc] peer-checked:border-[#3659e3] px-2 py-3' do %>
    <span>Public</span>
  <% end %>
</div>
