<div class="bg-cover bg-center bg-no-repeat bg-local w-full h-auto px-8 " 
style="background-image: url(https://cdn.evbstatic.com/s3-build/fe/build/images/a4d6d1bf6e549a8a159b7a8da04c8e71-2_web_1919x543.jpg)">
  <div class="flex flex-col pt-20 pb-16 sm:pt-10 sm:pb-5 px-4 max-w-7xl mx-auto">
    <div class="w-[68%] sm:w-[34.5%] pb-8 sm:pb-2">
      <%= inline_svg_tag 'svg/header_image_text.svg', fill:'#fff' %>
    </div>
    <div class="flex flex-row">
      <%= link_to not_implemented_path, class: "rounded text-base font-semibold text-white px-4 py-3 bg-[#d1410c]" do %>
        <span>Find your next event</span>
      <% end  %>
    </div>
  </div>
</div>
