<div class="flex flex-col pb-5">
  <div class="pb-5"><%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/World_map_blank_without_borders.svg/1024px-World_map_blank_without_borders.svg.png' %></div>
  <div class="flex flex-col items-center">
    <div class="flex flex-col py-5 items-center text-[#1e0a3c] font-semibold text-xl">
      <span><%= @event.name.titleize %></span>
      <span class="py-2 text-[#39364f] text-base font-normal">at</span>
      <span class="pb-1">Location Name Placeholder</span>
      <span class="pt-1 text-[#39364f] text-base font-normal"><%= @event.location.titleize %></span>
    </div>
    <div class="flex">
      <div class="flex items-center justify-center p-[10px] rounded-full border-transparent border-2 hover:bg-[#f8f7fa] hover:border-[#f8f7fa]">
        <svg class="h-6 w-6" viewBox="0 0 24 24">
          <path class="auto_svg__eds-icon--auto_base" fill-rule="evenodd" clip-rule="evenodd" fill="#231F20" d="M22 10h-3V4H5v6H2v1h1.3c-.2.3-.3.6-.3 1v6h1v1c0 1.1.9 2 2 2s2-.9 2-2v-1h8v1c0 1.1.9 2 2 2s2-.9 2-2v-1h1v-6c0-.4-.1-.7-.3-1H22v-1zM6 5h12v5h-5.5V7h-1v3H6V5zm1 14c0 .6-.4 1-1 1s-1-.4-1-1v-1h2v1zm12 0c0 .6-.4 1-1 1s-1-.4-1-1v-1h2v1zm1-2H4v-5c0-.6.4-1 .9-1h14c.6 0 1.1.4 1.1 1v5z"></path><g class="auto_svg__eds-icon--auto_circles" fill-rule="evenodd" clip-rule="evenodd" fill="#231F20"><path d="M17 12c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 3c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1c0 .5-.4 1-1 1zM7 12c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 3c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1c0 .5-.5 1-1 1z"></path></g><path class="auto_svg__eds-icon--auto_dash" fill-rule="evenodd" clip-rule="evenodd" fill="#231F20" d="M11 13h2v1h-2z"></path>
        </svg>
      </div>
      <div class="flex items-center justify-center p-[10px] rounded-full border-transparent border-2 hover:bg-[#f8f7fa] hover:border-[#f8f7fa]">
        <svg class="h-6 w-6" x="0" y="0" viewBox="0 0 24 24" xml:space="preserve">
          <path id="walk_svg__eds-icon--walk_base" fill-rule="evenodd" clip-rule="evenodd" fill="#231F20" d="M13.1 15.3L11 13.6V10c0-.6.5-1 1-1 .6 0 1 .5 1 1v5.3zm1-5.3c0-1.1-.9-2-2.1-2-.6 0-1.2.3-1.6.7L7 13.1l.8.6L9.9 11v3l5.2 4.3v3.4h1v-3.8L14 16.2V10z"></path><path id="walk_svg__eds-icon--walk_arm" fill-rule="evenodd" clip-rule="evenodd" fill="#231F20" d="M15.9 12.4l-.7.7 2 1.9.7-.7z"></path><path id="walk_svg__eds-icon--walk_leg" fill-rule="evenodd" clip-rule="evenodd" fill="#231F20" d="M7.2 21.5l.9.5 3.5-5.3-.9-.6z"></path><path id="walk_svg__eds-icon--walk_head" fill-rule="evenodd" clip-rule="evenodd" fill="#231F20" d="M11.9 2c-1.4 0-2.5 1.1-2.5 2.5S10.5 7 11.9 7s2.5-1.1 2.5-2.5S13.3 2 11.9 2zm0 4c-.8 0-1.5-.7-1.5-1.5S11.1 3 11.9 3s1.5.7 1.5 1.5S12.7 6 11.9 6z"></path>
        </svg>
      </div>
      <div class="flex items-center justify-center p-[10px] rounded-full border-transparent border-2 hover:bg-[#f8f7fa] hover:border-[#f8f7fa]">
        <svg class="h-6 w-6" viewBox="0 0 24 24">
          <path class="bus_svg__eds-icon--bus_base" fill-rule="evenodd" clip-rule="evenodd" fill="#231F20" d="M5 5h14v6h-6.5V7h-1v4H5V5zm2 14c0 .6-.4 1-1 1s-1-.4-1-1v-1h2v1zm12 0c0 .6-.4 1-1 1s-1-.4-1-1v-1h2v1zm0-2H5v-5h14v5zm1-10V4H4v3H2v3h1V8h1v11c0 1.1.9 2 2 2s2-.9 2-2v-1h8v1c0 1.1.9 2 2 2s2-.9 2-2V8h1v2h1V7h-2z"></path><g class="bus_svg__eds-icon--bus_dashes" fill-rule="evenodd" clip-rule="evenodd" fill="#231F20"><path d="M6 14h3v1H6zM15 14h3v1h-3z"></path></g>
        </svg>
      </div>
      <div class="flex items-center justify-center p-[10px] rounded-full border-transparent border-2 hover:bg-[#f8f7fa] hover:border-[#f8f7fa]">
        <svg class="h-6 w-6" viewBox="0 0 24 24">
          <path class="bike_svg__eds-icon--bike_base" fill-rule="evenodd" clip-rule="evenodd" fill="#231F20" d="M18.8 11c-.4 0-.7.1-1.1.1l-2-5.1H18v1h1V5h-5v1h.7l.4 1h-4.7l-.5-1H11V5H8v1h.8l.7 1.7v.1L7 11.4c-.6-.3-1.2-.4-1.8-.4C2.9 11 1 12.8 1 15s2 4 4.2 4 4.2-1.8 4.2-4h1.9l4.4-6.2 1.1 2.7c-1.3.7-2.2 2-2.2 3.5 0 2.2 1.9 4 4.2 4s4.2-1.8 4.2-4-1.9-4-4.2-4zm-3.7-3l-2.8 4-1.6-4h4.4zm-6.6 7c0 1.7-1.5 3-3.2 3S2 16.7 2 15s1.4-3 3.1-3c.4 0 .8.1 1.2.2L4.4 15h4.1zm-.4-1H6.4l.9-1.2c.3.3.6.7.8 1.2zm-.3-2.1l2.2-3 1.7 4.1-.7 1H9.2c-.3-.8-.7-1.5-1.4-2.1zm11 6.1c-1.7 0-3.2-1.3-3.2-3 0-1.1.6-2 1.5-2.6l.9 2.3.9-.4L18 12c.2 0 .5-.1.7-.1 1.7 0 3.2 1.3 3.2 3 .1 1.8-1.3 3.1-3.1 3.1z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
