<div class="flex flex-col pb-5">
  <div class=""><%= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/World_map_blank_without_borders.svg/1024px-World_map_blank_without_borders.svg.png' %></div>
  <div class="flex flex-col items-center">
    <span><%= @event.name.titleize %></span>
    <span>at</span>
    <span>Location Name Placeholder</span>
    <span><%= @event.location.titleize %></span>
    <div class="flex">
    </div>
  </div>
</div>
