<div class="flex">
  <div class="pr-3 pt-1">
    <%= inline_svg_tag 'svg/location_marker.svg', class:'h-4 w-4' %>
  </div>
  <div class="flex flex-col w-full">
    <div class="">
      <h3 class="font-semibold text-base mb-2 leading-6">Location</h3>
    </div>
    <div class="text-[#39364f] font-normal text-sm clamp-one"><%= resource.location %></div>
    <span class="text-[#39364f] font-normal text-sm">
      181 Ralph David Abernathy Boulevard
      Atlanta, GA 30312
    </span>
    <div class="text-[#3659e3] font-normal text-sm hover:underline">
      <%= link_to 'View map', not_implemented_path %></div>
  </div>
</div>
