<div data-tooltip-target="lock_tooltip" data-tooltip-placement="right">
  <div class="h-full"><%= image_tag "padlock.svg", size: "15x15", class: "h-full" %></div>
  <div id="lock_tooltip" class="invisible border-2 rounded-md bg-white p-2 tooltip opacity-0">
    This is a private event. You may only join if you recieve an invitation from the event owner.
  </div>
</div>
