<div class="flex">
  <div class="pr-3 pt-1">
    <svg viewBox="0 0 24 24" class="w-4 h-4" fill="currentColor">
      <defs><path id="map-pin-fill_svg__24_small_map_pin_fill-a" d="M7 0a7 7 0 00-7 7c0 2.015 1.016 3.985 2 5.5.985 1.515 5 7.5 5 7.5s3.985-5.985 5-7.5c1.015-1.515 2-3.485 2-5.5a7 7 0 00-7-7m0 9.5c1.378 0 2.5-1.122 2.5-2.5S8.378 4.5 7 4.5A2.503 2.503 0 004.5 7c0 1.378 1.122 2.5 2.5 2.5"></path></defs>
      <g fill="none" fill-rule="evenodd" transform="translate(5 2)">
        <mask id="map-pin-fill_svg__24_small_map_pin_fill-b" fill="#fff"><use xlink:href="#map-pin-fill_svg__24_small_map_pin_fill-a"></use></mask>
        <use fill="#45494E" xlink:href="#map-pin-fill_svg__24_small_map_pin_fill-a"></use>
        <g mask="url(#map-pin-fill_svg__24_small_map_pin_fill-b)"><path fill="#000" d="M-5-2h24v24H-5z"></path></g></g>
    </svg>
  </div>
  <div class="flex flex-col w-full">
    <div class="">
      <h3 class="font-semibold text-base mb-2 leading-6">Location</h3>
    </div>
    <div class="text-[#39364f] font-normal text-sm"><%= resource.location %></div>
    <span class="text-[#39364f] font-normal text-sm">
      181 Ralph David Abernathy Boulevard
      Atlanta, GA 30312
    </span>
    <div class="text-[#3659e3] font-normal text-sm hover:decoration">
      <%= link_to 'View map', not_implemented_path %></div>
  </div>
</div>
