<% if current_user&.can_moderate?(resource.id) %>
<div class="bg-yellow-300 p-8">
  <div class="font-extrabold text-2xl">Moderator Tools</div>
  <div class="flex flex-row w-full justify-evenly py-8">
    <%= link_to 'Edit Event', [:edit, resource], class: 'bg-green-400 rounded-md py-4 text-center w-full' %>
    <div class="w-full ml-8">
      <%= button_to 'Delete Event', resource, method: :delete, class: 'bg-red-500 rounded-md py-4 w-full text-center' %>
    </div>
  </div>
  <%= render 'user_event_permissions/create_invite_form', resource: resource %>
</div>
<% end %>