<div class="flex">
  <div class="pr-3 pt-1">
    <%= inline_svg_tag 'svg/document_text_sharp.svg', class:'w-4 h-4', fill:'currentColor' %>
  </div>
  <div class="flex flex-col w-full">
    <div class="">
      <h3 class="font-semibold text-base mb-2 leading-6">Refund Policy</h3>
    </div>
    <p class="text-[#39364f] font-normal text-sm">Contact the organizer to request a refund.</p>
    <p class="text-[#39364f] font-normal text-sm">Eventbrite's fee is nonrefundable.</p>
  </div>
</div>
