<div class="bg-white p-2">
  <%= form_with model: Event.new, url: not_implemented_path do |f| %>
    <div class="flex flex-row items-center">
      <%= f.text_field :name, placeholder: 'Search events...', class: 'bg-none rounded-lg border-none', required: true %>
      <%= image_submit_tag 'magnifying-glass.png', class: 'h-6 w-6 ml-2' %>
    </div>
  <% end %>
</div>
