<div class="bg-white p-2">
  <%= form_with model: Event.new, data: {turbo: false} do |f| %>
    <div class="flex flex-row items-center">
      <%= f.email_field :email, placeholder: 'Search events...', class: 'bg-none rounded-lg border-none', required: true %>
      <%# f.submit "Send Invite", class: '' %>
      <%= image_submit_tag 'magnifying-glass.png', class: 'h-6 w-6 ml-2' %>
    </div>
  <% end %>
</div>
