<%= button_to not_implemented_path, class: 'font-normal hover:bg-gray-100 bg-[#f8f7fa] text-sm text-[#39364f] rounded-full h-9 px-4 mt-4 mr-4  flex items-center min-w-fit' do %>
  <span><%= tag_text %></span>
<% end %>
