<div class="bg-gray-100 p-6 h-full">
  <div class="flex flex-col">
    <div class="flex flex-col p-6 mx-8 border-b-8">
      <div class="text-black font-bold text-3xl mb-6">Upcoming Events</div>
      <div class="grid grid-cols-3 justify-items-center ">
        <%= render @events.future %>
      </div>
    </div>
    <div class="flex flex-col p-6 mx-8 border-b-8">
      <div class="text-black font-bold text-3xl mb-6">Past Events</div>
      <div class="grid grid-cols-3 justify-items-center ">
        <%= render @events.past %>
      </div>
    </div>
    <%= render 'bottom_bar' %>
  </div>
</div>
