<div class="bg-gray-100 p-6 h-full">
  <div class="flex flex-col">
    <div class="flex flex-col p-6 mx-8 border-b-8">
      <div class="text-black font-bold text-3xl mb-6">Upcoming Events</div>
      <div class="grid grid-cols-3 justify-items-center ">
        <% @events.future.each do |event| %>
          <%= render_permitted_event(event) %>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col p-6 mx-8 border-b-8">
      <div class="text-black font-bold text-3xl mb-6">Past Events</div>
      <div class="grid grid-cols-3 justify-items-center ">
        <% @events.past.each do |event| %>
          <%= render_permitted_event(event) %>
        <% end %>
      </div>
    </div>
    <%= render 'event_bottom_bar' %>
  </div>
</div>
