<div class="w-full">
  <%= button_to 'Join', :attended_events, method: :post,
 params: { 'attended_event[event_id]': resource.id, 'attended_event[accepted]': true },
 class: "bg-green-400 py-2 rounded-md border-2 border-transparent hover:border-green-600 w-full" %>
</div>
