<div class="w-full">
  <%= button_to 'Leave', attended_events_url, params: { 'attended_event[event_id]': resource.id},  method: :delete,
  class: "bg-red-500 py-2 rounded-md border-2 border-transparent hover:border-red-800 min-w-min w-full" %>
</div>
