            <% if flash[:notice] %>
  <div class="py-3 px-5 bg-green-200 text-green-900 text-sm border-b-2 border-green-600 w-full">
    <%= notice %>
  </div>
<% end %>
<% if flash[:alert] %>
  <% [flash[:alert]].flatten.each do |alert| %>
    <div class="py-3 px-5 bg-red-200 text-red-900 text-sm border-b-2 border-red-300">
      <%= alert %>
    </div>
  <% end%>
<% end %>
