<div class="py-3 px-5 bg-red-200 text-red-900 text-sm border-b-2 border-red-300">
  <div class="flex flex-row w-full items-center">
    <div class="">
      This feature is not yet implemented.<br>
      Consider supporting the developer with an offer of employment.
    </div>
    <div class="ml-auto">
      <ul class="flex flew-col">
        <li class="px-4">Social</li>
        <li class="px-4">Social</li>
        <li class="px-4">Social</li>
      </ul>
    </div>
  </div>
</div>
