<div class="flex p-1 text-red-900">
  <div class="shadow-sm flex w-full rounded-md bg-red-50 border-[1px] border-gray-100">
    <div class="w-2 bg-red-700 relative left rounded-l-md"></div>
    <div class="px-5 flex items-center text-[13px] w-full">
      <div class="pr-4 py-2">
        <%= inline_svg_tag 'svg/alert_icon.svg', class: 'h-6 w-6' %>
      </div>
      <div class="py-3">
        <strong class=" font-semibold">
          This feature is not yet implemented. Consider supporting the developer with an offer of employment.
        </strong>
      </div>
      <div class="pl-4 flex flex-grow justify-end">
        <ul class="flex md:flex-row flex-col">
          <li class="px-4">Social</li>
          <li class="px-4">Social</li>
          <li class="px-4">Social</li>
        </ul>
      </div>
    </div>
  </div>
</div>
