<div class="mt-2 border-[1px] border-[#dbdae3] flex flex-col font-normal h-[48px] rounded-sm relative justify-center" >
  <%= form.password_field field_name, placeholder: ' ', class: 'h-full border-transparent border-[1px] px-3 text-sm' %>
  <%= form.label field_name, value, class: 'absolute px-3 pt-[2px] text-sm text-[#6f7287]' %>
</div>
<%= render 'inline_errors', errors: resource.errors[field_name] %>
<style>
  input:not(:placeholder-shown) + label, input:focus + label {
    top: 0;
    font-size: 12px;
  }
  input:not(:placeholder-shown), input:focus {
    padding-top: 16px;
  }
</style>
